<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="run-dump-server" xsi:type="object">Vdrahaniuk\DumpServer\Console\Command\Server</item>
            </argument>
        </arguments>
    </type>
    <preference for="Vdrahaniuk\DumpServer\Api\GeneralConfigurationInterface" type="Vdrahaniuk\DumpServer\Config\General" />
</config>
