<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dumpserver" translate="label" sortOrder="111111" class="dump-server-tab">
            <label><![CDATA[<span class='server-logo'>Dump server</span>]]></label>
        </tab>
        <section id="dump_server" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <resource>Vdrahaniuk_DumpServer::config</resource>
            <label>Configuration</label>
            <tab>dumpserver</tab>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="host" translate="label,comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Local host</label>
                    <comment>localhost address</comment>
                </field>
                <field id="frontend" translate="label,comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Dump on frontend</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment></comment>
                </field>
            </group>
        </section>
    </system>
</config>
